*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

h1{
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;  
    font-size: 3rem;
}

body{
    font-family: "Segoe UI", sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;  
}

form {
    background: whitesmoke;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    font-weight: bold;
    color: #282636;
}

input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
}

.btnForm{
    background: #0d0082;
    color: white;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}
.btnForm:hover{
    background-color: #3b52ff;
}

.btnForm:active{
    transform: scale(0.98);
}


#mensajeJS{
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.ingresoExitoso{
    color: green;
    transform: scale(1.05);
}

.ingresoFallido{
    color: red;
    transform: scale(1.05);
}

@media(max-width: 480px){
    form{
        width: 100%;
        max-width: none;
    }
}